
.details h3{
    margin-top:30px;
    text-align: center;
    letter-spacing: 0.1rem;
    font-style: italic;
}

.details-center{
    border:1px solid lightgrey;
    padding:10px 10px;

}

.details-img{
    height:300px;
    width:300px;
    margin:0 auto;
    text-align: center;
    background-color: rgb(235,233,233);
}

.details-img img{
    width: 300px;
    height: 100%;
    margin:0 auto;
    text-align: center;
    display: block;


}

.details-info{
    margin-top: 20px;
    width: 100%;
}

.details-info h4{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0.1rem;
    font-style: italic;
    margin-bottom: 10px;
}

.details-price{
    margin:10px 0;
    font-weight: bold;
}

.details-price span{
   color:crimson;
}

.details-btn{
    margin-top: 20px;
    width:100%;
    display: flex;
    justify-content: flex-start;

}

.details-btn button{
    margin-right:10px;
    padding:5px 7px;
    font-size:16px;
    width:160px;
    border:1px solid lightseagreen;
    outline: none;
    transition:  all 0.5s ease-in-out;
    color:rgb(51,51,52)
}

.details-btn button:hover{
 cursor: pointer;
 border:1px solid green;
}


@media screen and (min-width:664px){
  .details-center{
      display: flex;
      flex-wrap: wrap;
  }

  .details-img{
      flex:35%;

  }

  .details-img img{
      width: 100%;
  }

  .details-info{
      flex:50%;
      padding-left:20px;
  }

  .details-btn button{
    margin-top: 20px;
  }
}


@media screen and (min-width:964px){
    .details-center{
        display: flex;
        flex-wrap: wrap;
    }
  
    .details-img{
        flex:0 0 calc(40% - 0);
        height: 350px;
  
    }
  
    .details-img img{
        width: 100%;
    }
  
    .details-info{
      flex: 0 0 calc(60% - 0);
      padding-left: 20px;
    }

  }
