
.product{
    border:1px solid rgb(226,225,225);
    width:80%;
    margin:20px auto;
    text-align: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.products h3{
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.1rem;
    font-style: italic;
    text-decoration: underline;
}

.box-img{
    background: rgb(226,224,224);

}

.product img{
    width: 100%;
    height:350px;
    transition: all 0.4s ease-in-out;
}

.product:hover img{
    transform: scale(1.05);
}

.product h3{
    text-align: center;
    margin:5px;
    color:rgb(53,53,53)
}

.product h4{
    text-align: center;
    margin:5px;
    color:crimson;
}

.product-btn button{
    outline: none;
    width:90%;
    padding:7px;
    border:none;
    background: teal;
    color: white;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    margin:10px 0;
}

.product-btn button:hover{
    background: rgb(78,78,78);
    cursor: pointer;
}

.inCart{
    position:absolute;
    top:-40px;
    left:0;
    right:0;
    color:white;
    background: green;
    opacity:0.8;
    margin:0 auto;
    padding:5px;
    border:1px  solid lightgrey;

    transition: all 0.3s ease-in-out;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-style: italic;
}

.newInCart{
    position:absolute;
    top:5px;
    left:0;
    right:0;
    color:white;
    background: green;
    opacity:0.8;
    margin:0 auto;
    padding:5px;
    border:1px  solid lightgrey;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
   
}


/* responsive */
@media screen and (min-width:660px){
  .products-center{
      display: flex;
      flex-wrap: wrap;
      margin:0;
  } 

  .product{
      border:1px solid lightgrey;
      flex: 0 0 calc(50% - 20px);
  }

  .product img{
      width:100%;
      height: 200px;
  }
}

@media screen and (min-width:800px){
   
    .product{
        border:1px solid lightgrey;
        flex: 0 0 calc(33.3% - 20px);
        margin:20px auto;
    }
  
    .product img{
        width:100%;
        height: 200px;
    }

    .product img{
        height: 300px;
    }
  }

  @media screen and (min-width:1000px){
   
    .product{
        border:1px solid lightgrey;
        flex: 0 0 calc(25% - 20px);
        margin:20px auto;
    }
  
    .product img{
        width:100%;
        height: 200px;
    }

    .product img{
        height: 280px;
    }
  }